
@{
    ViewBag.Title = "EnergySelection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<!--Energy Selection-->
<h1 id="energySelection" class="display-4 text-center my-5 text-white">Energy Selection</h1>
<div class="row card-deck">
	<div class="col-md-6 col-lg-4">
		<div class="card mb-3">
			<img class="card-img-top" src="~/img/solar-panel.jpeg" alt="Solar">
			<div class="card-body">
				<h4 class="card-title">Solar</h4>
				<!--Insert slider bar here-->
			</div>
		</div>
	</div>

	<div class="col-md-6 col-lg-4">
		<div class="card mb-3">
			<img class="card-img-top" src="~/img/windTurbine.jpeg" alt="Wind">
			<div class="card-body">
				<h4 class="card-title">Wind</h4>
				<!--Insert slider bar here-->
			</div>
		</div>
	</div>

	<div class="col-md-6 col-lg-4">
		<div class="card mb-3">
			<img class="card-img-top" src="~/img/water.jpeg" alt="Water">
			<div class="card-body">
				<h4 class="card-title">Hydropower</h4>
				<!--Insert slider bar here-->
			</div>
		</div>
	</div>

	<div class="col-md-6 col-lg-4">
		<div class="card mb-3">
			<img class="card-img-top" src="~/img/nuclearpp.jpeg" alt="Nuclear">
			<div class="card-body">
				<h4 class="card-title">Nuclear</h4>
				<!--Insert slider bar here-->
			</div>
		</div>
	</div>

	<div class="col-md-6 col-lg-4">
		<div class="card mb-3">
			<img class="card-img-top" src="~/img/thermal.jpg" alt="Geo-thermal">
			<div class="card-body">
				<h4 class="card-title">Geo-Thermal</h4>
				<!--Insert slider bar here-->
			</div>
		</div>
	</div>

</div><!--/Energy Selection-->