body {
  background-image: url('../img/mountain2.jpg');
  background-repeat: no-repeat;
  background-size: cover
}

.navbar .navbar-brand {
  font-size: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255,255,255);
}

.navbar-dark .navbar-toggler {
  color: rgb(255,255,255);  
}

.jumbotron {
   background: rgba(200, 54, 54, 0); 
}

p {
  color: rgb(255,255,255);
}

h3 {
  color: rgb(255,255,255);
}

#nav1{  
  background-color:#F00; /*whichever you want   color: rgba(255, 255, 255, .85);*/
  opacity: 0.5; 
  filter:(opacity=50);
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-valid
{
    display: none;
}
.validation-summary-valid
{
    display: none;
}
/*.control-label text-white{ //This isn't working :(
  font-size: 23px;
}*/