body {
  background-image: url('../img/Forest3.jpg')
}

.navbar .navbar-brand {
  color: rgba(255, 255, 255, .85);
  font-size: 1rem;
}

.jumbotron {
  background-image: url('../img/jumbo-bg.jpg');
  background-size: cover;
}

#nav1{  
  background-color:#F00; /*whichever you want*/
  opacity: 0.5; 
  filter:(opacity=50);       
}